/*通過ID選擇器設置樣式*/
/*container：簡歷頁面*/
#container{
    background-color: rgb(229, 229, 229); /*底色*/
    margin: 0 15%; /*上下邊距為零，左右邊距為父元素<body>的15。%*/
}

/*通過元素選擇器設置樣式*/
/*h1：標題*/
h1{
    height: 70px;
    color: rgb(229, 229, 229); /*字體顏色*/
    background-color:rgb(221, 61, 61);/*背景顏色*/
    line-height: 70px; /*行間距*/
    text-indent: 70px; /*縮進*/
}

/*h2：副標題*/
h2{
    margin: 30px auto 5px auto;
}

/*p 段落*/
p{
    margin: 0;
}

/*通過ID選擇器設置導航訊息居中*/
/*menu：導覽菜單*/
#menu{
    text-align: center; /*讓菜單裡的文字居中*/
}

/*後代選擇器*/
/*設定<li>樣式*/
#menu li{
    display: inline-block; /*改成行內塊及元素*/
    width: 100px;          /*寬度*/
    height: 50px;          /*高度*/
    line-height: 3;       /*行間距*/
    background-color: rgb(221, 61, 61);
    border: 1px solid rgb(221, 61, 61);
    border-radius: 1% 15px;
}

/*設定<a>標籤樣式*/
#menu li a{
    text-decoration: none;
    color: rgb(229, 229, 229);
}

/*設定<a>標籤的 偽類選擇器：hover*/
/*達到點選時加粗字體效果*/
#menu li a:hover{
    font-weight: bold;
}

/*讓圖文＆影片居中 <div>*/
.center{
    text-align: center;
}

/*外邊距：<img><video> <div：h2>*/
.margin{
    margin: 0 30px;
}

/*<div id = userinfo>人物信息<div>下 所有的<p>標籤*/
#userinfo p{
    text-indent: 2em; /*首行縮進*/
    text-align: justify;
}

/*獲獎紀錄裡<a>標籤的顏色*/
#prize{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*ID選擇器*/
/*成員介紹 List 外邊距*/
#member{
    margin: 30px auto;
}

/*textarea*/
textarea{
    width: 100%;
    height: 100px;
    background-color: rgb(229, 229, 229);
}


button{
    border: 1px solid rgb(95, 95, 95);
    color: rgb(229, 229, 229);
    background-color: rgb(221, 61, 61);
    border-radius: 10px 10px; /*圓角特效*/
}


/*版權訊息*/
#copyright p{
    background-color: rgb(221, 61, 61);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 30px auto;
    padding: 15px;
    box-sizing: border-box; /*讓padding包在width內，不撐大container。*/
}
