/* 全域設定 */
html{
    scroll-behavior: smooth; /* 讓所有錨點跳轉變成平滑滾動 */
    scroll-padding-top: 107px; /* 數值 = 導覽列高度 60 + 7 + 40 = 107 */
    font-family: "Noto Sans TC", sans-serif; /* Google 思源黑體 ＆ 預設字體 */
}

body{
    margin: 0%; /*設定<body>的外邊距為0，清除瀏覽器預設值，讓網頁貼齊視窗。*/
}

/* Banner */
/* 為了不要忽大忽小 會寫死這攔的尺寸 */
/* 60 + 7 + 40 = 107 */
#banner{
    display: flex;        /*開啟flex*/
    flex-direction: column;  /*由上到下*/
    align-items: center;  /*置中*/
    justify-content: center;/*置中*/

    position: fixed;    /* 讓元素脫離網頁流 固定在最上方 */
    top: 0;             /* 緊貼視窗最上方*/
    width: 100%;        /* 因為脫離框架     要重新宣告寬度 */
    z-index: 999;       /* 最高層級 999    讓它永遠浮在上面*/

    background-color: #ffffff;  /* 要設置背景色不然會變透明 */
    padding: 7px 0 0px 0;         /* 上 右 下 左 */
    margin: 0px 0%;               /*取消瀏覽器預設樣式，讓上下邊距為0，左右邊距為父元素<body>的10％。*/

}

#banner img{
    height: 60px;
    width: auto;
}

#menu{
    width: 100%;
}


/*後代選擇器*/
/*菜單框 樣式*/
#menu ul{

    margin: 0% 0%;          /*上下左右邊距各為0*/
    padding: 0%;            /*拿掉內邊距*/

    display: flex;          /*啟動flex*/
    justify-content: center;/*讓選項水平置中*/
    align-items: center;    /*讓選項垂直置中*/
    gap: 10%;               /*讓選項有間距*/
    list-style: none;       /*去掉列表的黑點*/

    height: 40px;            /*菜單高度：螢幕的5%*/

}


/*菜單選項 <a>標籤樣式*/
#menu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    /*transition: all 0.1s ease;*/
}

/*菜單選項 <a>標籤加粗樣式*/
#menu li a:hover{
    font-weight: bold; /* 鼠標放到<a>標籤時會加粗 */
}

/*菜單選項 <button> 標籤樣式*/
#menu li button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: transparent;
    border: none;
    cursor: pointer;
    /*transition: all 0.1s ease;*/
    font-size: 1rem;
}

/*菜單選項 <button> 標籤加粗樣式*/
#menu li button:hover{
    font-weight: bold; /* 鼠標放到<button>標籤時會加粗 */
}


/*通過 class 選擇器設置樣式*/
/*container 網站頁面*/
.container{
   /* margin: 0; /* （不確定有了） margin-top 後這行還有沒有存在必要，看起來沒有 殺掉瀏覽器外邊距 讓上下左右為父元素 <body> 的0％ */
    margin-top: 107px; /* 讓瀏覽器上方的外邊距保持 107px 與導覽列隔開 */
}

/* Page 1 */
#page2P1{
    display: flex;           /* 開啟 flex */
    flex-direction: row;     /* 從左到右 */
    justify-content: center; /* 置中 */
    gap: 20px;
}

/* 外包裝 — 定位箭頭用 */
.carousel-Wrapper{
    position: relative; /* 相對定位(父親) 讓絕對定位(兒子)的箭頭以 carousel-Wrapper 為基準 */
    width: 70vh;        /* 跟 productPreview 一樣寬 */
    height: 80vh;
    margin: 0;     /* 殺掉外邊距 */
}

/* 左邊商品欄位 */
.sideBar{
    display: flex;
    flex-direction: column;
    width: 15vh;
    height: 80vh;
    gap: 6px;
    justify-content: center;
    margin-top: 1vh;
}

.sideBarItem img{
    max-width: 100%;      /* 寬度不超過父層 */
    height: 100%;          /* 比照 sideBar 高度 */
    pointer-events: none; /* 防止瀏覽器以為我要拉圖片 */
}

/* 滑鼠懸停時的效果 */
.sideBarItem:hover{
    cursor: pointer;            /* 滑鼠移上去變手手 */
}


/* 滑鼠點按時的效果 */
.sideBarItem:active{
    border: 1px solid;
    border-color: rgb(110, 110, 110);
    transform: scale(0.95);
}






/* 商品預覽 — 滑動容器 */
#productPreview{
    /* 寬高是 carousel-Wrapper 的 100% */
    width: 100%;
    height: 100%;

    display: flex; /* 預設從左到右 */

    /* overflow: 溢出 */
    /* 盒子太大怎麼辦？ */
    /* hidden       : 切掉不給看　    */
    /* scroll / auto: 給卷軸讓用戶滑  */
    overflow-x: auto; /* 卷軸設置 */

    /* scroll-snap: 滾動吸附 */
    /* mandatory  : 強力磁鐵  */
    /* mandatory 是強制吸附的意思
                 一定要吸在某張圖上，不能停在兩張圖中間。
                 吸附到哪個元素，取決於窗口面積有多大。
                 除了吸附元素外，還要綁定吸附方式。（用在下面的product上）*/
    scroll-snap-type: x mandatory; /* x軸向 使用強力磁鐵      */
    scroll-behavior: smooth;       /* 讓點擊箭頭時的滑動變平滑 */

    /* 隱藏滾動條 (Chrom, Safari) */
    -webkit-overflow-scrolling: touch; /* 讓手機滑動更順暢 給ios用的 使 iphone 有慣性 */
    cursor: grab; /* 讓滑鼠變小手手暗示可以抓 */    
}

/* 隱藏滾動條 (Chrom, Safari, Edge) */
#productPreview::-webkit-scrollbar{
    display: none;
}

/* 隱藏滾動條 (Firefox) */
#productPreview{
    scrollbar-width: none;
}


/* 商品卡片 */
.product{
    flex: 0 0 100%; /* 讓每個商品寬度占滿 100%，這樣就能精準置中。 */
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/* 商品圖片限制 */
.product img{
    height: 100%;    /* 高度跟隨父層 */
    max-width: 100%; /* 寬度不超過父層 */
    object-fit: contain; /* 保持圖片比例不要變形 */
    pointer-events: none;/* 防止瀏覽器以為我要拉圖片本身 */
}


/* 左右箭頭按鈕 */
.nav-btn{
    position: absolute;          /* 絕對定位(兒子) -> 意思是它不占空間，會飄起來，定位座標用。 */
                                 /* 用途是給 nav-btn(箭頭) */
    top: 50%;                    /* 距離爸爸頂部 50% 如果爸爸沒設 relative，就會認視窗當爹地漂到網頁左上角。 */
    transform: translateY(-50%); /* 垂直置中 */
    
    background: transparent;     /* 透明背景 */
    border: none;

    color: rgba(0, 0, 0, 0.3);/* 箭頭顏色半透明黑 */
    font-size: 3rem;            /* 箭頭大小 */
    cursor: pointer;            /* 滑鼠移上去變手手 */

    z-index: 10;                /* 浮在圖片上 */
    transition: color 0.3s;
    user-select: none;          /* 防止一直點選到箭頭文字 */
}

.nav-btn:hover{
    color: rgba(0, 0, 0, 0.6);/* 滑鼠移上去變深色 */
}

.prev-btn{ left: 0; } /* 放左邊 */
.next-btn{ right: 0;} /* 放右邊 */



/* 給JS用的 — 拖曳中的樣式 */
#productPreview.active{
    cursor: grabbing;       /* 變抓緊的拳頭 */
    scroll-snap-type: none; /* 暫時關閉吸附 -> 拖曳時暫停吸附 增加手感 */
    scroll-behavior: auto;  /* 拖曳時關閉平滑滾動 才跟得上滑鼠 */
}

/* 給JS用的 — 定義拉伸狀態＆動畫 */
.pull-left-effect{
    /* 用 transform 做變形 */
    /* scaleX(1.05)     -> 代表橫向拉長 5% */
    /* translateX(20px) -> 代表整塊往右移一點 模擬阻力*/
    transform: scaleX(1.05) translate(10px);

    /* 變灰濾鏡 */
    filter: grayscale(10%);

    /* 加上過渡動畫不然會閃爍 */
    transition: all 0.2s ease;
}


/* 右邊欄位商品資訊 */
.information{
    display: flex; /* 開啟 flex */
    flex-direction: column; /* 從上到下 */
    padding: 85px 0 0 40px; /* 記得從 PS 那邊找正確尺寸 */
    gap: 10px;
}



/* 商品介紹說明：標題 價格 分期 */
/* 標題 */
#manual h1{
    margin: 0; /* 殺掉所有外邊距 */
    margin-bottom: 30px;
}

/* 價格 */
#manual b{
    font-size: 2.5rem;
    font-weight: 900;
    /*color: rgb(244, 62, 7);*/
}

/* 分期 */
#manual p{
    margin: 0; /* 殺掉所有外邊距 */
}





/* 銷量與愛心保存 */
#salesVolume{
    text-align: right; /* 整個靠右 */
    margin: 6vh 0 6vh 0;
}

#salesVolume p{
    margin: 0 0 5px 0; /* 上 右 下 左 */
}

#salesVolume img{
    transform: translate(3px, 3px); /* X軸 3px Y軸 3px 往下移動一點 */
}

#salesVolume img:hover{
    cursor: pointer;
    transition: transform 0.1s ease;
}

#salesVolume img:active{
    transform: translate(5px, 5px); /* X軸 5px Y軸 5px 往下移動一點 */
    filter: invert(54%) sepia(78%)
            saturate(7493%) hue-rotate(356deg)
            brightness(97%) contrast(105%);

    transform: scale(1.2) translate(5px, 5px); /* 放大 1.2倍 並 X軸 5px Y軸 5px 往下移動一點 */
}





/* 預計配達時間 ＆ 商業保證 */
.tips{
    display: flex;       /* 開啟flex */
    flex-direction: row; /* 由左至右 */
    gap: 5px; /* 間距 */
    align-items: flex-start; /* 垂直靠上 */
    margin: 10px 0 10px 0;
    
}

.tips img{
    width: 30px; /* 寬度 */
    height: 30px;/* 高度 */
    margin: 5px;
}

/* 預計配達文字 細節追加 */
.shipText, .shipText p{
    margin: 0;
}




/* 按鈕 */
#buy-btn1{
    width: 100%; /* 父容器 information 的 100％ */
    height: 5vh; /* 螢幕高度的 5% */
    margin: 0 0 10px 0 ;
    font-size: 1rem;  /* 文字大小 */
    background-color: #ea682c;  /* 背景顏色 */
    border: 0px; /* 邊框殺掉 */
    color: #ffffff; /*文字顏色*/
}

/* 滑鼠懸停 */
#buy-btn1:hover{
    background-color: #d25a23;  /* 背景顏色 */
    cursor: pointer; /* 游標變手手 */
}


/* 滑鼠點按 */
#buy-btn1:active{
    background-color: #df5206;
    transform: scale(0.98); /* 縮小 */
}

#buy-btn2{
    width: 100%; /* 父容器 information 的 100％ */
    height: 5vh; /* 螢幕高度的 5% */
    margin: 0 0 0 0 ; /* 殺掉外邊距 */
    font-size: 1rem;  /* 文字大小 */
    background-color: #4CAF50;  /* 背景顏色 */
    border: 0px; /* 邊框殺掉 */
    color: #ffffff; /*文字顏色*/
}


/* 滑鼠懸停 */
#buy-btn2:hover{
    background-color: #3f9942; /* 背景顏色 */
    cursor: pointer; /* 游標變手手 */
}

/* 滑鼠點按 */
#buy-btn2:active{
    background-color: #4CAF50; /* 背景顏色 */
    transform: scale(0.98); /* 縮小 */
}

/* 側邊欄 — 遮罩黑背景 */
.cart-overlay{
    position: fixed;      /* 固定在視窗 */
    top: 0;               /* 距離視窗頂部 0 */
    left: 0;              /* 距離視窗左側 0 */
    width: 100%;          /* 寬度 100% */
    height: 100%;         /* 高度 100% */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    z-index: 999;         /* 層級在側邊欄下面 */

    /* 預設隱藏 */
    opacity: 0;          /* 透明度 0 */
    visibility: hidden;  /* 隱藏 */
    transition: all 0.3s ease; /* 過渡動畫 */
}

/* 側邊欄 — 遮罩黑背景 — 事件 */
.cart-overlay.active{
    opacity: 1;          /* 透明度 1 */
    visibility: visible; /* 可見 */
}

/* 側邊欄 — 購物車 */
.cart-sidebar{
    position: fixed;      /* 固定在視窗 */

    /* 貼著右邊 */
    top: 0;               /* 距離視窗頂部 0 */
    right: 0;             /* 距離視窗右側 0 */

    width: 400px;         /* 寬度 300px */
    height: 100%;         /* 高度 100% */
    background-color: #ffffff;                  /* 白色背景 */
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3); /* 陰影效果 */
    z-index: 1000;        /* 層級在遮罩上面 */

    /* 動畫 — 預設藏在右邊外面 */
    transform: translateX(100%);        /* 向右移動自身寬度 */
    transition: all 0.3s ease-in-out;   /* 過渡動畫 */

    /* 排版 */
    display: flex;
    flex-direction: column;
}

/* 側邊欄 — 購物車 — 事件：加上 active 類別時抽屜滑出來 */
.cart-sidebar.active{
    transform: translateX(0); /* 向左移動自身寬度，顯示出來並回到原位。 */
}

/* 側邊欄 — 購物車 — 裝飾(標題) */
.cart-header{
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header button{
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* 側邊欄 — 購物車 — 裝飾(內容) */
.cart-body {
    flex: 1; /* 佔滿中間剩餘空間 */
    padding: 20px;
    overflow-y: auto; /* 東西太多可以滾動 */
}

.cart-item {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.cart-items img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

/* 側邊欄 — 購物車 — 裝飾(底下) */
.cart-footer {
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: row;
}

.cart-footer-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2vh;
}

.checkout{
    width: 100%;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #248c24;
}

/* 會員登入 start */

/* 登入 — 遮罩黑幕 */
.login-overlay{
    position: fixed;      /* 固定在視窗 */
    top: 0;               /* 距離視窗頂部 0 */
    left: 0;              /* 距離視窗左側 0 */
    width: 100%;          /* 寬度 100% */
    height: 100%;         /* 高度 100% */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    z-index: 999;         /* 層級在側邊欄下面 */

    /* 預設隱藏 */
    opacity: 0;          /* 透明度 0 */
    visibility: hidden;  /* 隱藏 */
    transition: all 0.3s ease; /* 過渡動畫 */
}

/* 登入 — 遮罩黑幕 — 事件 */
.login-overlay.active{
    opacity: 1;          /* 透明度 1 */
    visibility: visible; /* 可見 */
}

/* 登入 */
.user-login{
    position: fixed;      /* 固定在視窗 */

    /* 貼著中間 */
    top: 50%;               /* 放中間 -> 距離視窗頂部 50% */
    left: 50%;              /* 放中間 -> 距離視窗左側 50% */
    transform: translate(-50%, -50%); /* 完全置中 */

    width: 500px;           /* 寬度 500px */
    height: 400px;          /* 高度 400px */
    background-color: #ffffff;                  /* 白色背景 */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);    /* 陰影效果 */
    z-index: 1000;        /* 層級在遮罩上面 */

    /* 動畫 — 預設縮小且透明 */
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8); /*  */
    transition: all 0.3s ease-in-out;   /* 過渡動畫 */

    /* 排版 */
    display: flex;
    flex-direction: column;
    align-items: center;    /* 置中 */
}

/* 登入 — active 事件 */
.user-login.active{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.user-login hr{
    border: #dcdcdc solid 1px;
    width: 90%;
}

/* 登入 — 標題欄樣式 */
.login-header{
    width: 100%;
    /*padding: 20px; /**/
   /* border-bottom: 1px solid #ddd; /**/
    display: flex;
    justify-content: space-between; /* 標題跟關閉鍵兩邊對齊 */
    align-items: center;
}

.login-header h2{
    margin: 30px 0 5px 30px; /* 上 右 下 左 */
    color: #000000;
}

.login-header button{
    margin: 30px 30px 5px 0; /* 上 右 下 左 */
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* 表單樣式 */
.login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    gap: 20px;
}

/* 登入 — 浮動標籤樣式 start */
.login-group{
    position: relative; /* 讓 label 可以絕對定位 */
}

.login-group input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    padding: 12px 10px 12px 10px; /* 上 右 下 左 */
}

.login-group label{
    position: absolute;
    left: 10px;
    top: 12px;
    pointer-events: none; /* 讓點擊穿透標籤到 input */
    background-color: #ffffff; /* 白色背景蓋住 input 背景 */
    color: #a8a8a8;
    transition: all 0.2s ease;
}

/* 點擊輸入框 or 裡面有字( placeholder 未顯示 ) */
.login-group input:focus + label,
.login-group input:not(:placeholder-shown) + label{
    top: -10px; /* 往上移 */
    left: 5px;  /* 靠左一點 */
    font-size: 0.8rem; /* 縮小字體 */
    color: #a8a8a8;  /* 變色 */
}

/* 點擊時框線變色 */
.login-group input:focus{
    border-color: #636363;
}






.input-group{
    position: relative; /* 讓 label 可以絕對定位 */
}

.input-group input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    padding: 12px 10px 12px 10px; /* 上 右 下 左 */

}

.input-group label{
    position: absolute;
    left: 10px;
    top: 12px;
    pointer-events: none; /* 讓點擊穿透標籤到 input */
    background-color: #ffffff; /* 白色背景蓋住 input 背景 */
    color: #a8a8a8;
    transition: all 0.2s ease;
}

/* 點擊輸入框 or 裡面有字( placeholder 未顯示 ) */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label{
    top: -10px; /* 往上移 */
    left: 5px;  /* 靠左一點 */
    font-size: 0.8rem; /* 縮小字體 */
    color: #a8a8a8;  /* 變色 */
}

/* 點擊時框線變色 */
.input-group input:focus{
    border-color: #636363;
}


/* .input-group{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    gap: 5px;
} */

/* 登入 — 浮動標籤樣式 end */

/* 登入按鈕 */
.login-submit-btn{
    width: 80%;
    height: 40px;
    margin: 20px auto 0 auto; /* 上 右 下 左 */
    font-size: 1rem;
    background-color: #248c24;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.login-submit-btn:hover{
    background-color: #1f7a1f;
}

.login-submit-btn:active{
    background-color: #248c24;
    transform: scale(0.98);
}

.login-footer{
    margin-top: 20px;
    text-align: center;
}

.login-footer a{
    text-decoration: none;
    color: #245f8c;
}


/* 會員登入 end */