/* 全域設定 */
html{
    scroll-behavior: smooth; /* 讓所有錨點跳轉變成平滑滾動 */
    scroll-padding-top: 107px; /* 數值 = 導覽列高度 60 + 7 + 40 = 107 */
}

/* Banner */
/* 為了不要忽大忽小 會寫死這攔的尺寸 */
/* 60 + 7 + 40 = 107 */
#banner{
    display: flex;        /*開啟flex*/
    flex-direction: column;  /*由上到下*/
    align-items: center;  /*置中*/
    justify-content: center;/*置中*/

    position: fixed;    /* 讓元素脫離網頁流 固定在最上方 */
    top: 0;             /* 緊貼視窗最上方*/
    width: 100%;        /* 因為脫離框架     要重新宣告寬度 */
    z-index: 999;       /* 最高層級 999    讓它永遠浮在上面*/

    background-color: #ffffff;  /* 要設置背景色不然會變透明 */
    padding: 7px 0 0px 0;         /* 上 右 下 左 */
    margin: 0px 0%;                         /*取消瀏覽器預設樣式，讓上下邊距為0，左右邊距為父元素<body>的10％。*/

}

#banner img{
    height: 60px;
    width: auto;
}

#menu{
    width: 100%;
}


/*後代選擇器*/
/*菜單框 樣式*/
#menu ul{

    margin: 0% 0%;          /*上下左右邊距各為0*/
    padding: 0%;            /*拿掉內邊距*/

    display: flex;          /*啟動flex*/
    justify-content: center;/*讓選項水平置中*/
    align-items: center;    /*讓選項垂直置中*/
    gap: 10%;               /*讓選項有間距*/
    list-style: none;       /*去掉列表的黑點*/

    height: 40px;            /*菜單高度：螢幕的5%*/

}


/*菜單選項 <a>標籤樣式*/
#menu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    /*transition: all 0.1s ease;*/
}

/*菜單選項 <a>標籤加粗樣式*/
#menu li a:hover{
    font-weight: bold; /* 鼠標放到<a>標籤時會加粗 */
}