.container{
    /*總框框 寬度100% 高度300px*/
    width: 100%;
    height: 300px;
    display: flex;                 /* 預設row 從左到右 */
    overflow-x: scroll;            /* 在大框架下設置卷軸*/
    scroll-snap-type: x mandatory; /* 使物件滑動更順利 */
    /* mandatory是強制吸附的意思，就是自始至終不可能出現一個中間狀態。 */
    /* 吸附到哪個元素，取決於窗口面積有多大。*/
    /* 除了吸附元素外，還要綁定吸附方式。（用在下面的item上）*/

}

/* 隱藏滾動條 附註：用滑鼠「抓著拖曳」需要靠JS實現*/
/*.container::-webkit-scrollbar{
    width: 0;
}*/

.item{
    /* 物件基礎設置 非重點 */
    /* 告訴 Flexbox：這個項目的收縮比例是 0 (也就是不准彈性縮放) */
    flex-shrink: 0;
    width: 80%; /* 框寬度占主體80％ 本來要是240% 但有flex-shrink會被收縮成33.3% */
    height: 100%;
    display: flex; /* 預設row 從左到右 */
    justify-content: center; /* 水平線上讓物件置中 */
    align-items: center;     /* 垂直線上讓物件置中 */
    /* 補充：justify-content 跟 align-items 要在flex模式下才奏效*/

    /* 效果展示重點 1 */
    scroll-snap-align: center;
    /* 分別有三種效果：start end center */
    /* 意思是開始對齊 結尾對齊 中間對齊*/

    /* 效果展示重點 2 */
    scroll-snap-stop: always; /*效果會是不要讓物件滑過頭，增加滑動時的摩擦力，意思是永遠要停在下個元素上。*/
}

/*設置物件顏色讓它清楚看見效果*/
.item:nth-child(1){
    background-color: rgb(216, 133, 133);
}

.item:nth-child(2){
    background-color: brown;
}

.item:nth-child(3){
    background-color: rgb(248, 129, 55);
}